.button-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-th1-toggle-and-key-bg);
  border-radius: 7px;
  padding: 1rem;

  button {
    width: 60px;
    margin: 0.4rem;
    padding: 0.5rem;
    border-radius: 7px;
    border: none;
  }

  .fifth-row {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    button {
      width: 50%;
    }
  }
}
