.button-section {
  border-radius: 7px;
  padding: 1.25rem;
  width: 410px;

  @media (max-width: 40em) {
    width: 20rem;
  }

  button {
    border-radius: 7px;
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    padding: 0.85rem;
    text-align: center;

    @media (max-width: 40em) {
      font-size: 1.6rem;
    }
  }

  .four-row-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-bottom: 1rem;

    button {
      width: 100%;

      @media (max-width: 40em) {
        height: 4rem;
      }
    }
  }

  .fifth-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    button {
      width: 100%;

      @media (max-width: 40em) {
        height: 4rem;
      }
    }
  }

  // Numeric Button Theme Styles and hover effect
  .theme-one-btn-style {
    background-color: var(--clr-th1-key-bg-lgo);
    color: var(--clr-th1-key-bg-ddb);
    box-shadow: 0 3px 0 0 var(--clr-th1-key-sh-go);
  }

  .theme-one-btn-style:hover {
    background-color: hsl(0, 0%, 100%);
  }

  .theme-two-btn-style {
    background-color: var(-clr-th2-key-bg-lgy);
    color: var(--clr-th2-very-dark-grayish-yellow);
    box-shadow: 0 3px 0 0 var(--clr-th2-key-sh-dgo);
  }

  .theme-two-btn-style:hover {
    background-color: hsl(0, 0%, 100%);
  }

  .theme-three-btn-style {
    background-color: var(--clr-th3-key-bg-vdv);
    color: var(--clr-th3-light-yellow);
    box-shadow: 0 3px 0 0 var(--clr-th3-key-sh-dm);
  }

  .theme-three-btn-style:hover {
    background-color: hsl(267, 70%, 34%);
  }

  // Delete and Reset button theme styles and hover effect
  .del-theme-one,
  .del-theme-two,
  .del-theme-three,
  .reset-theme-one,
  .reset-theme-two,
  .reset-theme-three {
    text-transform: uppercase;
    color: var(--clr-white);
  }

  .del-theme-one,
  .reset-theme-one {
    background-color: var(--clr-th1-key-bg-ddb);

    box-shadow: 0 3px 0 0 var(--clr-th1-key-sh-ddb);
  }

  .del-theme-one:hover,
  .reset-theme-one:hover {
    background-color: hsl(224, 28%, 73%);
  }

  .del-theme-two,
  .reset-theme-two {
    background-color: var(--clr-th2-key-bg-dmc);

    box-shadow: 0 3px 0 0 var(--clr-th2-key-sh-vdy);
  }

  .del-theme-two:hover,
  .reset-theme-two:hover {
    background-color: hsl(185, 48%, 69%);
  }

  .del-theme-three,
  .reset-theme-three {
    background-color: var(--clr-th3-key-bg-dv);

    box-shadow: 0 3px 0 0 var(--clr-th3-key-sh-vm);
  }

  .del-theme-three:hover,
  .reset-theme-three:hover {
    background-color: hsl(277, 71%, 38%);
  }

  // Equal sign button theme styles and hover effect
  .equal-sign-theme-one {
    background-color: var(--clr-th1-key-and-toggle-bg-r);
    color: var(--clr-white);
    box-shadow: 0 3px 0 0 var(--clr-th1-key-bg-dr);
  }

  .equal-sign-theme-one:hover {
    background-color: hsl(6, 63%, 64%);
  }

  .equal-sign-theme-two {
    background-color: var(--clr-th2-key-and-toggle-bg-o);
    color: var(--clr-white);
    box-shadow: 0 3px 0 0 var(--clr-th2-key-sh-do);
  }

  .equal-sign-theme-two:hover {
    background-color: hsl(25, 78%, 70%);
  }

  .equal-sign-theme-three {
    background-color: var(--clr-th3-key-and-toggle-bg-pc);
    color: var(--clr-very-dark-blue);
    box-shadow: 0 3px 0 0 var(--clr-th3-key-sh-sc);
  }

  .equal-sign-theme-three:hover {
    background-color: hsl(177, 42%, 93%);
  }
}
