.screen-section {
  width: 100%;
  border-radius: 7px;
  .value-display {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    height: 90px;
    padding: 10px 10px 0 0;
    font-size: 2.25rem;
    font-weight: 600;
  }
}
