.toggle-switch {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .theme-label {
    color: var(--clr-th1-key-bg-lgo);
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
  }

  &__switch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 65px;
    height: 25px;
  }

  &__theme-switcher {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      display: none;
    }

    .checkmark {
      width: calc(100% - 5px);
      height: calc(100% - 5px);
      background-color: hsl(6, 63%, 50%);
      border-radius: 50%;
      display: inline-block;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    input:checked + .checkmark {
      opacity: 1;
      display: inline-block;
    }
  }

  &__theme-label {
    position: absolute;
    //top: 25px;
  }
}
