.toggle-switch {
  display: flex;
  justify-content: center;
  align-items: center;

  .theme-label {
    color: var(--clr-th1-key-bg-lgo);
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
  }

  &__switch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 65px;
    height: 25px;
    position: relative;
  }

  &__theme-switcher {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      display: none;
    }

    .checkmark {
      width: calc(100% - 5px);
      height: calc(100% - 5px);
      background-color: hsl(6, 63%, 50%);
      border-radius: 50%;
      display: inline-block;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    input:checked + .checkmark {
      opacity: 1;
      display: inline-block;
    }
  }

  &__theme-label {
    position: absolute;
    bottom: 30px;
    font-weight: 600;

    //  Toggle switch
    .toggle-theme-one {
      color: var(--clr-th1-key-and-toggle-bg-r);
    }

    .toggle-theme-two {
      color: var(--clr-th2-key-and-toggle-bg-o);
    }

    .toggle-theme-three {
      color: var(--clr-th3-key-and-toggle-bg-pc);
    }
  }
}
